<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://storageaccessfunction20230712134258.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5bb0a836-e74f-4536-b29a-388be3bd4da1/resourcegroups/DemoApiAzureFaiza/providers/Microsoft.Web/sites/StorageAccessFunction20230712134258</ResourceId>
    <UserName>$StorageAccessFunction20230712134258</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://storageaccessfunction20230712134258.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>